.div-bottom-div input{
    border: 1px solid white;
    box-shadow: 0px 1px 3px 1px grey;
    margin: 20px 40px;
    padding: 10px 30px;
    height: 40px;
    background-color: rgb(200, 201, 218);
    border-radius: 30px;
    font-size: 18px;
}
.div-top{
    height: 20vh;
    text-align: center;
    line-height: 3.5pc;
    background-color: rgb(120, 156, 231);
    color: white;
}
.med{
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    background-color: rgb(120, 156, 231);
    height: 100%;
}
.div-bottom{
    align-items: center;
    text-align: center;
    background-color: rgb(70, 70, 252);
    height: 90vh;
    width: 1333px;
    margin-bottom: -660px;
}
.div-bottom h1{
    color: whitesmoke;
}
.div-bottom-div{
    display: flex;
    flex-direction: row;
}
.div-bottom{
    display: flex;
    flex-direction: column;
}
.div-bottom-div button{
    border: 1px solid white;
    box-shadow: inset 1px 1px 13px 3px rgb(81, 42, 221);
    margin: 20px 40px;
    padding: 10px 30px;
    width: 200px;
    background-color: white;
    font-size: 20px;
    border-radius: 30px;
}
.div-bottom-div button:hover{
    background-color: rgb(81, 42, 221);
    color: white;
    box-shadow: 1px 1px 13px 3px rgb(227, 225, 235);
    
}