
select{
    border: 1px solid white;
    box-shadow: 0px 1px 3px 1px grey;
    margin: 20px 40px;
    padding: 10px 30px;
}
option{
    padding: 10px;
}
input{
    border: 1px solid white;
    box-shadow: 0px 1px 3px 1px grey;
    margin: 20px 40px;
    padding: 10px 30px;
    width: 200px;
}
.card{
    background-color: gray;
    border: 1px solid black;
    width:200px;
    margin: 5px;
}
.card-rating{
    display: flex;
}
.hide {
    display: none;
}