.register{
    border: 1px solid white;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 0px 30px;
    box-shadow: 0px 1px 5px  grey;
}

.register button{
    margin: 10px;
    padding: 10px 30px;
    margin-left: 55px;
    border: 1px solid white;
    box-shadow: 0px 1px 5px rgb(180, 180, 180);
}
button:hover{
    background-color: rgb(144, 144, 240);
    color: white;
    box-shadow: inset 1px 2px 10px rgb(105, 105, 182);
}


.details{
    margin: 10px;
    padding: 10px;
}

.details input{
    margin-top: 10px;
}