.foot img{
    height: 30px;
    width: 30px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50%;
    display: flex;
}
.foot{
    background-color: rgb(59, 57, 57);
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
    margin-top: 50%;
    height: fit-content;
   overflow: auto;
}
.foot-top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.foot-left{
    display: flex;
}
.contact{
    display: flex;
}
.contact h4{
    margin-top: 25px;
    margin-left: 10px;
}
.foot-bottom{
    text-align: center;
}
.contact img{
    filter: contrast(1000%);
}

@media (max-width:900px){
    .foot-top{
        justify-content: space-between;
    }
}