.body{
  margin: 0;
}
.App{
  margin: 0;
}
button{
  cursor: pointer;
  border: 1px solid black;
  padding: 10px;
  background-color: transparent;
}

.nav{
  margin: -5px -5px;
  box-shadow: 0px 0px 4px 3px rgb(216, 226, 235);
  height: 80px;
}
.sidenav{
  width: fit-content;
  z-index: 1;
  position: fixed;
  background-color: white;
  top:0;
  padding: 20px;
  box-shadow: 0px 1px 5px 5px rgba(135, 178, 226, 0.897);
  align-items: center;
  text-align: center;
}
.menu{
  border: 1px solid black;
  padding: 10px;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  margin-left: 40px;
  margin-top: 20px;
}

.HeadMain{
  box-shadow: 5px 5px 5px 5px grey;
  width: fit-content;
  padding: 20px;
  height: 610px;
}

.HeadMain button{
  margin-left: 200px;
  margin-top: -10px;
  margin-right: -10px;
  margin-bottom: -20px;
  font-size: 30px;
  border: 1px solid black;
  background-color: transparent;
  border-style: none;
}

.heading{
  display: flex;
  flex-direction: column;
}
.heading .sides{
  margin: 10px;
  border: 1px solid black;
  border-style: none;
  background-color: transparent;
  font-size: 18px;
  margin: 25px 10px;
  text-align: center;
  box-shadow: 1px 5px 5px 5px rgb(184, 181, 181);
  padding: 25px 40px;
}

.log,.reg,.home{
  border: 1px solid white;
  box-shadow: 0px 1px 3px 1px grey;
  margin: 20px 40px;
  padding: 10px 30px;
}

.close{
  border-style: none;
  font-size: 30px;
  cursor: pointer;
}
.buttons{
  float: right;
}
.home:hover{
  background-color: rgb(144, 144, 240);
  color: white;
  box-shadow: inset 1px 2px 10px rgb(105, 105, 182);
}
.log:hover{
  background-color: rgb(144, 144, 240);
  color: white;
  box-shadow: inset 1px 2px 10px rgb(105, 105, 182);
}
.reg:hover{
  background-color: rgb(144, 144, 240);
  color: white;
  box-shadow: inset 1px 2px 10px rgb(105, 105, 182);
}
.sides:hover{
  background-color: rgb(144, 144, 240);
  color: white;
  box-shadow: inset 1px 2px 10px rgb(105, 105, 182);
}



