.login{
    border: 1px solid white;
    box-shadow: 0px 1px 5px  grey;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px 20px;
}

.login button{
    margin: 10px;
    padding: 8px 30px;
    margin-left: 55px;
    border: 1px solid white;
    box-shadow: 0px 1px 5px rgb(180, 180, 180);
}

.details{
    margin: 10px;
    padding: 10px;
}

.details input{
    margin-top: 10px;
}