.imp{
    display: flex;
    justify-content: space-around;
}

.boxes{
    border: 1px solid white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: 40px;
    box-shadow: 0px 1px 10px 3px rgb(204, 204, 204);
}

.boxes img{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 200px;
    height: 200px;
    border-bottom: 1px solid black;
}

.boxes h3{
    text-align: center;
}