.image {
    max-width: 25%;
    max-height: 15%;
    padding-top: 20px;
    padding-left: 15%;
    float: left;
  }
  .text {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
    float: left;
  }
  .container {
    align-items: center;
    justify-content: center;
  }
  .info {
    padding-top: 05px;
    padding-left: 15%;
  }
  .sub {
    display: flex;
  }
  .info1 {
    padding-top: 05px;
  }
  th,
  td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .book {
    padding-left: 15%;
  }
  .btn {
    padding-top: 5px;
    display: flex;
  }
  .slots{
    display: flex;
  }
  .bookings{
    border: 1px solid darkgreen;
    /* box-shadow: 0px 1px 3px 1px green; */
    background-color: green;
    color: white;
    margin: 20px 40px;
    padding: 10px 30px;
    cursor: pointer;
  }
  .bookings:hover{
    content: "Book slot";
  }