.doc{
    border: 1px solid blue;
    margin: 50px;
    display: flex;
    justify-content: space-around;
}
select{
    border: 1px solid white;
    box-shadow: 0px 1px 3px 1px grey;
    margin: 20px 40px;
    padding: 10px 30px;
}
option{
    padding: 10px;
}
input{
    border: 1px solid white;
    box-shadow: 0px 1px 3px 1px grey;
    margin: 20px 40px;
    padding: 10px 30px;
    width: 200px;
}
.doc button{
    border: 1px solid white;
    box-shadow: 0px 1px 3px 1px grey;
    margin: 20px 40px;
    padding: 10px 30px;
}
.citybox{
    border: 1px solid black;
}
.box{
    font-size: 18px;
    font-weight: 100;
}